<footer class="site-footer">
  <div class="footer-grid">
    <div>
      <h5>ADDRESS</h5>
      <p>
        Faculty of Law and Criminology<br>
        Vrije Universiteit Brussel (VUB)<br>
        Bd de la Plaine 2, 1050 Ixelles, Belgium
      </p>
    </div>
    <div>
      <h5>Contact</h5>
      <p>
        <a href="mailto:suruoxin@gmail.com"><i class="fa-solid fa-envelope"></i> suruoxin@gmail.com</a><br>
        <a href="https://www.linkedin.com/in/ruoxin-su-4a897a18a/"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
      </p>
    </div>
    <div>
      <h5>Links</h5>
      <p>
        {% if site.links.google_scholar and site.links.google_scholar != "" %}<a href="{{ site.links.google_scholar }}"><i class="ai ai-google-scholar"></i> Google Scholar</a><br>{% endif %}
        {% if site.links.researchgate and site.links.researchgate != "" %}<a href="{{ site.links.researchgate }}"><i class="ai ai-researchgate"></i> ResearchGate</a><br>{% endif %}
        <a href="https://github.com/sbryngelson/academic-website-template"><i class="fa-brands fa-github"></i> Use this template!</a>
      </p>
    </div>
  </div>
  <div class="footer-grid">
    <div class="footer-copyright" style="grid-column: 1 / -1;">
      &copy; {{ "now" | date: "%Y" }} {{ site.name | escape }}
    </div>
  </div>
</footer>

<script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/site.min.js" | relative_url }}"></script>
